<?xml version="1.0"?>
<model>
  <name>red_metal_bowl_white_speckles</name>
  <version>1.0</version>
  <sdf>red_metal_bowl_white_speckles.urdf</sdf>
  <author>
    <name>Jan Winkler</name>
    <email>winkler@cs.uni-bremen.de</email>
  </author>
  <description>
    Describe me
  </description>
</model>
