<launch>
  
  <env name="GAZEBO_MODEL_PATH" value="$(find ltfnp_models)/models" />
  <env name="GAZEBO_PLUGIN_PATH" value="$(find ltfnp_gazebo)/plugins" />
  <env name="LD_LIBRARY_PATH" value="$(find ltfnp_gazebo)/plugins:$(env LD_LIBRARY_PATH)" />
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ltfnp_gazebo)/worlds/ltfnp.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  
  <!-- Start PR2 Robot -->
  <include file="$(find ltfnp_gazebo)/launch/pr2.launch" />
  
  <!-- <include file="$(find ltfnp_gazebo)/launch/kitchen_ltfnp.launch"/> -->
  
</launch>
