<launch>

  <include file="$(find ltfnp_gazebo)/launch/kitchen_ltfnp.launch"/>
  
  <!-- TODO: update this to load the owls for the kitchen -->
  <include file="$(find ltfnp_reasoning)/launch/ltfnp_reasoning.launch"/>
  <include file="$(find pr2_description_lowres)/robots/upload_pr2.launch"/>

  <node name="static_world_frame" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 map odom_combined 100" />
  
  <include file="$(find pr2_moveit_node)/launch/move_group.launch"/>
  <include file="$(find pr2_moveit_node)/launch/nav_pcontroller.launch"/>

  <!-- <node name="autonomous_operation" pkg="ltfnp_executive" type="start.sh" output="screen" /> -->
  
</launch>
